@use '../base/functions' as fn;
#cart {
  margin: auto;
  border-radius: 5%;
  max-width: 750px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem;
  margin-top: 2rem;

  form {
    .contact-details {
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }

  article {
    ul {
      li {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        border: 2px grey solid;
        padding: 5px;
        margin-bottom: 10px;

        div {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .donuts__item_quantity {
          p {
            width: 55px;
          }

          input {
            width: 30px;
            padding: 0.5rem 1rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    form {
      .contact-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.25rem;

        div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
