@use '../base/functions' as fn;
.donuts {
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: row;
	flex-wrap: wrap;

	&__item {
		display: flex;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 500px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: fn.getColor(pink);
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		// height: 80vh;
		// padding: 2rem;
		.donuts__item_info p {
			color: fn.getColor(orange);
			font-weight: bolder;
		}
		h2 {
			margin-bottom: 0;
		}

		&_info {
			display: flex;
			z-index: 1;
		}

		&_quantity {
			input {
				padding: 0.5rem 1rem;
			}
		}

		&_image {
			img {
				z-index: -1;
				filter: drop-shadow(9px 100px 8px rgba(39, 39, 39, 0.5));
			}
			button {
				cursor: pointer;
				background-color: fn.getColor(orange);
				color: fn.getColor(white);
				border-radius: 0.5rem;
			}
		}

		&_addcart {
			margin-top: 1rem;
			padding: 1rem 2rem;
			cursor: pointer;
		}
	}
}

