@use '../base/functions' as fn;
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
}