$colors: (
	pink: (
			'300': #da1884,
	),
	orange: (
		'300': #ff671f,
	),
	brown: (
		'300': #653819,
	),

	white: (
		'300': #fcfcfc,
	),

	grey: (
		'200': #f2efe9,
		'300': #818285,
		'400': #262626,
		'500': #0d0d0d,
	),
);
