header {
	display: flex;

	& label {
		padding: 1rem;
	}
}

.menu {
	display: none;
}

.donut__item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	padding: 2rem;
}

.quantity {
	display: flex;
	justify-content: space-between;
}
